@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


.app {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.selected {
	background: yellow  !important;
}

.options {
	padding: 8px;
	border: 3px solid #000;
	cursor: pointer;
	width: 100%;
	background-color: #fff;
	color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
	font-weight: bold;
	border-radius: 7px;
}

ul {
	list-style-type: none;
}

ul li {
	margin: 5px;
}

body {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 18px;
	background-color: teal;
}